{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}

    <form action="{% url 'save' %}" method="POST">
    	{% csrf_token %}
    	<div class="form-group">
    		<h2 class="form-titles">Edit {{entryTitle}}</h2>
    		<input type="hidden" name="title" value="{{entryTitle}}">
    	</div>
		
		<div class="form-group">
			<label class="form-titles">content</label>
        		<textarea class="form-control" name="text" rows="8">{{entry}}</textarea>
		</div>
			<button type="submit" class="btn btn-outline-dark">Submit</button>
	</form>


{% endblock %}